<div id="winstats" data-background="basic_interface/statwin_bg.bmp">
	<div class="group stats">
		<div class="str">0</div>
		<div class="agi">0</div>
		<div class="vit">0</div>
		<div class="int">0</div>
		<div class="dex">0</div>
		<div class="luk">0</div>
	</div>
	<div class="group bonus">
		<div class="str"></div>
		<div class="agi"></div>
		<div class="vit"></div>
		<div class="int"></div>
		<div class="dex"></div>
		<div class="luk"></div>
	</div>
	<div class="group up">
		<button class="str" data-background="basic_interface/arw_right.bmp" data-down="basic_interface/arw_right_on.bmp"></button>
		<button class="agi" data-background="basic_interface/arw_right.bmp" data-down="basic_interface/arw_right_on.bmp"></button>
		<button class="vit" data-background="basic_interface/arw_right.bmp" data-down="basic_interface/arw_right_on.bmp"></button>
		<button class="int" data-background="basic_interface/arw_right.bmp" data-down="basic_interface/arw_right_on.bmp"></button>
		<button class="dex" data-background="basic_interface/arw_right.bmp" data-down="basic_interface/arw_right_on.bmp"></button>
		<!-- <button class="luk" data-background="basic_interface/arw_right.bmp" data-down="basic_interface/arw_right_on.bmp"></button> -->
	</div>
	<div class="statuspoint">0</div>
	<div class="group requirements">
		<div class="str">1</div>
		<div class="agi">1</div>
		<div class="vit">1</div>
		<div class="int">1</div>
		<div class="dex">1</div>
		<!--<div class="luk">2</div>-->
	</div>
	<div class="group column1">
		<div class="atak2">0</div>
		<div class="matak2">0</div>
		<div class="critical">0</div>
		<div class="hit">0</div>
		<div class="aspd">0</div>
		<div class="flee">0</div>
	</div>
	<div class="group column2">
		<div class="def2">0</div>
		<div class="mdef2">0</div>
		<div class="physmit">0</div>
		<div class="physavo">0</div>
		<div class="magmit">0</div>
		<div class="magavo">0</div>
	</div>
	<div class="group column3">
		<div class="def">0</div>
		<div class="mdef">0</div>
	</div>
</div>
