#winstats { font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif; position:absolute; width:280px; height:103px; background-color:transparent; background-repeat:no-repeat; font-size:11px; font-weight: bold; }
#winstats .group { position:absolute; top:6px; }
#winstats .group div { height:16px; display:block; }
#winstats .stats { left:30px; }
#winstats .bonus { left:51px; }
#winstats .requirements { left:83px; text-align:right; width:12px; opacity:0; }
#winstats .column1 { top:5px; right:132px; text-align:right; }
#winstats .column2 { top:5px; right:68px; text-align:right; }
#winstats .column3 { top:5px; right:4px; text-align:right; }
#winstats .up { left:73px; top:2px; }
#winstats .statuspoint { position:absolute; display:block; left:62px; top:86px; text-align:right; font-weight: bold; }
#winstats .up button { display:block; margin-top:5px; border:none; width:11px; height:11px; background-color:transparent; background-repeat:no-repeat; }