#win_login { position:absolute; width:280px; height:400px; z-index:1; }
#win_login .container { position:absolute; width:280px; height:200px;  padding:2px; line-height:18px; letter-spacing:0px; background-color:#fefefe; border-radius:5px;}
#win_login .border { border:1px solid #c1c6c2; width:268px; height:188px; padding:5px; border-radius:5px; }
#win_login .content { background-color:#eff4f0; width:256px; height:176px; overflow-y:auto; padding:5px; }
#win_login .warning { color:#F22; }
#win_login .login { position:absolute; top:220px; width:280px; height:120px; }
#win_login input { position:absolute; left:91px; height:18px; width:127px; border:none; background-color:transparent; padding-left:2px; outline:none;}
#win_login input.user { top:29px; }
#win_login input.pass { top:61px; }
#win_login .save { position:absolute; top:32px; right:10px; display:block; width:38px; height:10px; border:none; background-color:transparent; background-repeat:no-repeat; }
#win_login .btn { position:absolute; border:0; width:42px; height:20px; bottom:4px; background-color:transparent; }
#win_login .btn.connect { right:50px; }
#win_login .btn.exit { right:5px; }