<div id="KeyConfig">
	<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<div class="left">
			<button class="base" data-background="basic_interface/sys_base_off.bmp" data-hover="basic_interface/sys_base_on.bmp"></button>
			<span class="text">Key Configuration</span>
		</div>
		<div class="right">
			<button class="base close" data-background="basic_interface/sys_close_off.bmp" data-hover="basic_interface/sys_close_on.bmp"></button>
		</div>
		<div class="clear"></div>
	</div>
	<div class="panel">
		<table>
		<tr>
			<td><b>Menus/UI</b></td>
		</tr>
			<tr>
				<td>Character Sheet</td>
				<td> <input class="keyconf" id="keyEQ" maxlength="1"/>&nbsp;&nbsp;&nbsp;</td>
				<td>Party Window</td>
				<td> <input class="keyconf" id="keyPA" maxlength="1"/> </td>
			</tr>
			<tr>
				<td>Inventory</td>
				<td> <input class="keyconf" id="keyIV" maxlength="1"/>&nbsp;&nbsp;&nbsp;</td>
				<td>Friends Window</td>
				<td> <input class="keyconf" id="keyFR" maxlength="1"/> </td>
			</tr>
			<tr>
				<td>Skill List</td>
				<td> <input class="keyconf" id="keySL" maxlength="1"/>&nbsp;&nbsp;&nbsp;</td>
				<td>Emote List</td>
				<td> <input class="keyconf" id="keyEM" maxlength="1"/> </td>
			</tr>
		</table>
		</br></br>
		<table>
			<tr>
				<td><b>Hotkeys</b></td>
			</tr>
			<tr>
				<td>Hotkey Row 1</td>
				<td>
					<input class="keyconf" id="key11" maxlength="1"/>
					<input class="keyconf" id="key12" maxlength="1"/>
					<input class="keyconf" id="key13" maxlength="1"/>
					<input class="keyconf" id="key14" maxlength="1"/>
					<input class="keyconf" id="key15" maxlength="1"/>
					<input class="keyconf" id="key16" maxlength="1"/>
					<input class="keyconf" id="key17" maxlength="1"/>
					<input class="keyconf" id="key18" maxlength="1"/>
					<input class="keyconf" id="key19" maxlength="1"/>
				</td>
			</tr>
			<tr>
				<td>Hotkey Row 2</td>
				<td>
					<input class="keyconf" id="key21" maxlength="1"/>
					<input class="keyconf" id="key22" maxlength="1"/>
					<input class="keyconf" id="key23" maxlength="1"/>
					<input class="keyconf" id="key24" maxlength="1"/>
					<input class="keyconf" id="key25" maxlength="1"/>
					<input class="keyconf" id="key26" maxlength="1"/>
					<input class="keyconf" id="key27" maxlength="1"/>
					<input class="keyconf" id="key28" maxlength="1"/>
					<input class="keyconf" id="key29" maxlength="1"/>
				</td>
			</tr>
			<tr>
				<td>Hotkey Row 3</td>
				<td>
					<input class="keyconf" id="key31" maxlength="1"/>
					<input class="keyconf" id="key32" maxlength="1"/>
					<input class="keyconf" id="key33" maxlength="1"/>
					<input class="keyconf" id="key34" maxlength="1"/>
					<input class="keyconf" id="key35" maxlength="1"/>
					<input class="keyconf" id="key36" maxlength="1"/>
					<input class="keyconf" id="key37" maxlength="1"/>
					<input class="keyconf" id="key38" maxlength="1"/>
					<input class="keyconf" id="key39" maxlength="1"/>
				</td>
			</tr>
			<tr>
				<td>Hotkey Bar</td>
				<td> <input class="keyconf" id="keyHK" maxlength="1"/> </td>
			</tr>
			<tr>
				<td> </br> </td>
			</tr>
			<tr>
				<td> <button type="button" id="save">Save Changes</button> </td>
			</tr>
		</table>
	</div>
</div>